@import 'helpers/vars', 'helpers/mixins';
@import 'global';

/*!
=====================================================
                  =   Global   =
=====================================================
*/

/*!
=====================================================
                 =   MainCSS   =
=====================================================
*/
@import 'libs/libs';
@import 'partials/partials';
@import 'pages/pages';

.container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
