/*!
=====================================================
                  =   Reboot   =
=====================================================
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: "Montserrat";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
  scroll-behavior: smooth; }

body {
  margin: 0;
  color: #000;
  background-color: #fff;
  text-align: left;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e3e3;
  margin: 1em 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0.5rem; }

ol,
ul,
dl {
  padding: 0;
  margin: 0;
  list-style: none; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

b,
strong {
  font-weight: 600; }

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

label {
  display: inline-block; }

button {
  border-radius: 0; }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

textarea {
  overflow: auto;
  resize: vertical; }

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto; }

::placeholder {
  color: #000; }

:-moz-placeholder {
  color: #000; }

::-moz-placeholder {
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

::-webkit-input-placeholder {
  color: #000; }

::selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3); }

::-moz-selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3); }

[hidden] {
  display: none !important; }

@-ms-viewport {
  width: device-width; }
[tabindex='-1']:focus {
  outline: 0 !important; }

abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

iframe {
  border: none; }

a:not([href]):not([tabindex]) {
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]).active {
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0; }

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

/*!
=====================================================
                  =   Global   =
=====================================================
*/
/*!
=====================================================
                 =   MainCSS   =
=====================================================
*/
.index-blue,
.index-red,
.index-green,
.join-us-blue,
.red-couple,
.what-we-do-red,
.what-we-do-couple,
.arrow-person,
.flying-person-1,
.flying-person-2,
.about-bubble,
.small-red,
.green-couple,
.bottom-couple,
.top-blue,
.right-blue {
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 5; }

.index-red {
  top: 288px;
  left: 0;
  width: 139px;
  height: 277px;
  background-image: url(../imgs/bubbles/index/index-red.svg); }

.index-blue {
  top: 0;
  left: 281px;
  width: 390px;
  height: 225px;
  background-image: url(../imgs/bubbles/index/index-blue.svg); }

.index-green {
  top: 137px;
  right: 0;
  width: 121px;
  height: 275px;
  background-image: url(../imgs/bubbles/index/index-green.svg); }

.section-title {
  text-align: center; }
  .section-title h1 {
    font-family: "ZCOOL XiaoWei";
    font-size: 30px;
    font-weight: normal; }
  .section-title p {
    max-width: 450px;
    color: #919aa3;
    margin: 0 auto;
    line-height: 1.33; }

.section-btn {
  text-align: center; }

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  align-self: left;
  transform: translateZ(0);
  transition: color 0.45s cubic-bezier(0.475, 0.425, 0, 0.995); }
  .btn:before {
    content: '';
    width: 110%;
    height: 110%;
    border-radius: 26px;
    position: absolute;
    transition: transform 0.45s cubic-bezier(0.835, -0.005, 0.06, 1);
    transform-origin: right;
    transform: scaleX(0);
    left: -5%;
    will-change: transform;
    z-index: 1; }
  .btn.active, .btn:hover {
    color: #fff; }
    .btn.active:before, .btn:hover:before {
      transform-origin: left;
      transform: scaleX(1); }
  .btn.disabled {
    opacity: 0.5;
    cursor: progress; }
  .btn .text {
    position: relative;
    z-index: 2; }

.btn-fill {
  cursor: pointer;
  border: 2px solid #000;
  height: 55px;
  padding: 0 50px;
  line-height: 52px; }
  .btn-fill:before {
    background-color: #000;
    color: white; }

.btn-sticky {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #f3752c;
  background-color: transparent;
  padding: 5px 25px;
  border: 1px solid #f3752c;
  border-radius: 25px; }
  .btn-sticky:before {
    top: 0;
    background-color: #f3752c; }

.fixed {
  position: fixed;
  top: 35px;
  right: 40px;
  width: 163.4px;
  z-index: 111; }

/*!
=====================================================
                  =   Header   =
=====================================================
*/
.header-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
  gap: 270px;
  width: 100%;
  font-size: 14px; }
  .header-footer-wrapper .logo a img {
    width: 116px;
    height: 40px; }
  .header-footer-wrapper .header-footer-nav {
    display: flex;
    gap: 30px;
    align-items: center; }
    .header-footer-wrapper .header-footer-nav > ul {
      display: flex;
      gap: 30px;
      padding: 0;
      list-style: none;
      margin: 0px; }

footer {
  padding: 70px 0;
  background-color: #f5f5f5; }
  footer .header-footer-wrapper {
    padding: 0px; }
  footer .contact-btn {
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 15px; }

/*!
=====================================================
                    =   Index   =
=====================================================
*/
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 100px 110px; }
  .jumbotron .jumbotron-text {
    min-width: 505px;
    margin-left: 80px; }
    .jumbotron .jumbotron-text h1 {
      font-family: "ZCOOL XiaoWei";
      font-size: 55px;
      font-weight: 400;
      line-height: 0.9;
      margin-bottom: 15px; }
    .jumbotron .jumbotron-text p {
      max-width: 450px;
      font-size: 16px;
      line-height: 1.35;
      opacity: 0.7;
      margin: 0; }
  .jumbotron .banner-animation #powerOfChoice {
    width: 700px;
    position: relative;
    z-index: 2; }

.we-offer .container .service-card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 70px 0; }
  .we-offer .container .service-card-wrapper .service-card {
    width: 350px;
    padding: 50px 35px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s;
    background-repeat: no-repeat; }
    .we-offer .container .service-card-wrapper .service-card:hover {
      box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.06); }
    .we-offer .container .service-card-wrapper .service-card:first-child {
      background-position: -40px -15px;
      background-image: url(../imgs/bubbles/card/card-red.svg); }
    .we-offer .container .service-card-wrapper .service-card:nth-child(2) {
      margin: 0 35px;
      background-position: 80% 100%;
      background-image: url(../imgs/bubbles/card/card-green.svg); }
    .we-offer .container .service-card-wrapper .service-card:last-child {
      background-position: 100% 50%;
      background-image: url(../imgs/bubbles/card/card-blue.svg); }
    .we-offer .container .service-card-wrapper .service-card h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 15px; }
    .we-offer .container .service-card-wrapper .service-card p {
      color: #919aa3;
      line-height: 1.5;
      margin-bottom: 0; }

.animated-icons {
  margin-top: 100px;
  margin-bottom: 120px; }
  .animated-icons .icon-container {
    display: flex;
    justify-content: space-between;
    gap: 50px; }
  .animated-icons .icon-box {
    display: inline-block;
    text-align: center; }
    .animated-icons .icon-box div {
      margin-bottom: 30px; }
      .animated-icons .icon-box div img {
        width: 260px;
        height: 165px; }
    .animated-icons .icon-box h2 {
      font-size: 20px;
      font-weight: 600; }
    .animated-icons .icon-box p {
      opacity: 0.7;
      font-weight: normal;
      margin-bottom: 0;
      max-width: 330px; }

.our-specialty {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 40px; }
  .our-specialty .swiper-wrapper {
    margin: 25px 0 30px; }
    .our-specialty .swiper-wrapper .swiper-slide {
      width: 100%;
      padding: 0 30px; }
      .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.06); }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-slide-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 1;
          width: 100%;
          background-color: #fff;
          color: #212B36;
          border-radius: 0 0 16px 16px;
          padding: 25px 25px 30px; }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-slide-image {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 0;
          padding-bottom: 66%;
          border-radius: 16px 16px 0 0;
          overflow: hidden; }
          .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-slide-image div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-image-original {
          opacity: 1;
          z-index: 1; }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-image-hover {
          transition: opacity 0.3s ease;
          display: none;
          opacity: 0;
          z-index: 2; }

.join-us {
  position: relative;
  top: 0;
  padding: 0 0 47% 0;
  min-height: 670px;
  overflow: hidden; }
  .join-us .join-us-content {
    width: 100%;
    max-width: 720px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .join-us .join-us-content .departments {
      padding: 55px 0px;
      z-index: 6; }
      .join-us .join-us-content .departments .dep-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .join-us .join-us-content .departments .dep-list li {
          display: inline-block;
          margin-bottom: 35px; }
          .join-us .join-us-content .departments .dep-list li:nth-child(3n + 2) {
            margin: 0 30px 35px; }

.tiny-card {
  padding: 35px 30px;
  text-align: center;
  display: inline-block;
  width: 215px;
  height: 96.9px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background: linear-gradient(90deg, #004ca0 0%, #086caa 25%, #007ecc 50%, #fff 75%, #fff 100%);
  background-color: #ffffff;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: 0.4s ease-in-out;
  will-change: transform; }
  .tiny-card .text {
    position: relative; }
    .tiny-card .text::before {
      opacity: 0;
      content: '';
      position: absolute;
      right: -20px;
      top: 5px;
      display: block;
      width: 12px;
      height: 12px;
      transition: 0.4s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../img/layers/arrow-right.svg); }
  .tiny-card:hover {
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);
    background-position: 0% 0%;
    transform: scale(1.04); }
    .tiny-card:hover .text::before {
      opacity: 1; }

.container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

/*# sourceMappingURL=style.css.map */
