@charset "UTF-8";
@font-face {
  font-family: "Fontello";
  font-weight: normal;
  font-style: normal;
  src: local("Fontello"), url("../fonts/Fontello.woff") format("woff"), url("../fonts/Fontello.woff2") format("woff2"); }
[class^='icon-']:before,
[class*=' icon-']:before,
[class^='icon-']:after,
[class*=' icon-']:after {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-left:before {
  content: '\e800';
  margin-right: 25px; }

/* '' */
.icon-down-open:before {
  content: '\e801'; }

/* '' */
.icon-attach:before {
  content: '\e802'; }

/* '' */
.icon-cancel:after {
  cursor: pointer;
  content: '\e803'; }

/* '' */
.icon-right-open:before {
  content: '\e804'; }

/* '' */
/*!
=====================================================
                  =   Reboot   =
=====================================================
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: "Montserrat";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
  scroll-behavior: smooth; }

body {
  margin: 0;
  color: #000;
  background-color: #fff;
  text-align: left;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e3e3;
  margin: 1em 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0.5rem; }

ol,
ul,
dl {
  padding: 0;
  margin: 0;
  list-style: none; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

b,
strong {
  font-weight: 600; }

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

label {
  display: inline-block; }

button {
  border-radius: 0; }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

textarea {
  overflow: auto;
  resize: vertical; }

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto; }

::placeholder {
  color: #000; }

:-moz-placeholder {
  color: #000; }

::-moz-placeholder {
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

::-webkit-input-placeholder {
  color: #000; }

::selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3); }

::-moz-selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3); }

[hidden] {
  display: none !important; }

@-ms-viewport {
  width: device-width; }
[tabindex='-1']:focus {
  outline: 0 !important; }

abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

iframe {
  border: none; }

a:not([href]):not([tabindex]) {
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]).active {
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0; }

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

/*!
=====================================================
                  =   Global   =
=====================================================
*/
/*!
=====================================================
                 =   MainCSS   =
=====================================================
*/
.index-blue,
.index-red,
.index-green,
.join-us-blue,
.red-couple,
.what-we-do-red,
.what-we-do-couple,
.arrow-person,
.flying-person-1,
.flying-person-2,
.about-bubble,
.small-red,
.green-couple,
.bottom-couple,
.top-blue,
.right-blue {
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 5; }

.index-red {
  top: 288px;
  left: 0;
  width: 139px;
  height: 277px;
  background-image: url(../imgs/bubbles/index/index-red.svg); }

.index-blue {
  top: 0;
  left: 281px;
  width: 390px;
  height: 225px;
  background-image: url(../imgs/bubbles/index/index-blue.svg); }

.index-green {
  top: 137px;
  right: 0;
  width: 121px;
  height: 275px;
  background-image: url(../imgs/bubbles/index/index-green.svg); }

.join-us-blue {
  top: 0;
  right: 0;
  width: 105px;
  height: 183px;
  background-image: url(../imgs/bubbles/index/join-us-blue.svg); }

.red-couple {
  top: 185px;
  left: 0;
  width: 155px;
  height: 240px;
  background-image: url(../../assets/imgs/bubbles/red-couple.svg); }

.about-bubble {
  top: 0;
  left: 279px;
  width: 394px;
  height: 221px;
  background-image: url(../imgs/bubbles/other/about-bubble.svg); }

.small-red {
  top: 349px;
  right: 104px;
  width: 50px;
  height: 50px;
  background-image: url(../imgs/bubbles/other/small-red.svg); }

.flying-person-1 {
  top: 287px;
  left: 32px;
  width: 320px;
  height: 83px;
  background-image: url(../imgs/layers/flying-person-1.svg); }

.flying-person-2 {
  top: 147px;
  right: 107px;
  width: 320px;
  height: 90px;
  background-image: url(../imgs/layers/flying-person-2.svg); }

.bottom-couple {
  top: 120px;
  right: 0;
  width: 222px;
  height: 508px;
  background-image: url(../img/bubbles/other/bottom-couple.svg); }

.green-couple {
  top: 424px;
  left: 0;
  width: 116px;
  height: 278px;
  background-image: url(../img/bubbles/other/green-couple.svg); }

.what-we-do-red {
  top: 154px;
  left: 0;
  width: 91px;
  height: 182px;
  background-image: url(../imgs/bubbles/other/what-we-do-red.svg); }

.what-we-do-couple {
  top: 0;
  left: 240px;
  width: 400px;
  height: 320px;
  background-image: url(../imgs/bubbles/other/what-we-do-couple.svg); }

.arrow-person {
  top: 170px;
  right: 0;
  width: 221px;
  height: 493px;
  background-image: url(../imgs/layers/arrow-person.svg); }
  @media (max-width: 1340px) {
    .arrow-person {
      display: none; } }

.bottom-couple {
  top: 120px;
  right: 0;
  width: 222px;
  height: 508px;
  background-image: url(../imgs/bubbles/other/bottom-couple.svg); }

.green-couple {
  top: 424px;
  left: 0;
  width: 116px;
  height: 278px;
  background-image: url(../imgs/bubbles/other/green-couple.svg); }

.top-blue {
  top: 0;
  left: 291px;
  width: 316px;
  height: 158px;
  background-image: url(../imgs/bubbles/top-blue.svg); }

.right-blue {
  top: 100px;
  right: 0;
  width: 85px;
  height: 250px;
  background-image: url(../imgs/bubbles/right-blue.svg); }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

.flying-person-1, .flying-person-2 {
  animation-name: float !important;
  animation-iteration-count: infinite; }
  .flying-person-1:nth-child(3), .flying-person-2:nth-child(3) {
    animation-delay: 0.3s; }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }
.section-title {
  text-align: center; }
  .section-title h1 {
    font-family: "ZCOOL XiaoWei";
    font-size: 30px;
    font-weight: normal; }
  .section-title p {
    max-width: 450px;
    color: #919aa3;
    margin: 0 auto;
    line-height: 1.33; }

.section-btn {
  text-align: center; }

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  align-self: left;
  transform: translateZ(0);
  transition: color 0.45s cubic-bezier(0.475, 0.425, 0, 0.995); }
  .btn:before {
    content: '';
    width: 110%;
    height: 110%;
    border-radius: 27px;
    position: absolute;
    transition: transform 0.45s cubic-bezier(0.835, -0.005, 0.06, 1);
    transform-origin: right;
    transform: scaleX(0);
    left: -5%;
    will-change: transform;
    z-index: 1; }
  .btn.active, .btn:hover {
    color: #fff; }
    .btn.active:before, .btn:hover:before {
      transform-origin: left;
      transform: scaleX(1); }
  .btn.disabled {
    opacity: 0.5;
    cursor: progress; }
  .btn .text {
    position: relative;
    z-index: 2; }

.btn-fill {
  cursor: pointer;
  border: 2px solid #000;
  height: 55px;
  padding: 0 50px;
  line-height: 52px; }
  .btn-fill:before {
    background-color: #000;
    color: white; }

.btn-sticky {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #f3752c;
  background-color: transparent;
  padding: 5px 25px;
  border: 1px solid #f3752c;
  border-radius: 25px; }
  .btn-sticky:before {
    top: 0;
    background-color: #f3752c; }

.fixed {
  position: fixed;
  top: 35px;
  right: 40px;
  width: 163.4px;
  z-index: 111; }

.btn-form {
  cursor: pointer;
  display: inline-block;
  padding: 13px 37px;
  line-height: 1.6;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right, #007ecc, #004ca0);
  transition: box-shadow 0.3s ease-in-out; }
  .btn-form:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }

.clone-btn-sticky {
  width: 163.4px;
  margin-left: 30px; }

/*!
=====================================================
                  =   Header   =
=====================================================
*/
.header-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
  gap: 270px;
  width: 100%;
  font-size: 14px; }
  .header-footer-wrapper .logo a img {
    width: 116px;
    height: 40px; }
  .header-footer-wrapper .header-footer-nav {
    display: flex;
    gap: 30px;
    align-items: center; }
    .header-footer-wrapper .header-footer-nav > ul {
      display: flex;
      gap: 30px;
      padding: 0;
      list-style: none;
      margin: 0px; }

footer {
  padding: 70px 0;
  background-color: #f5f5f5; }
  footer .header-footer-wrapper {
    padding: 0px; }
  footer .contact-btn {
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 15px; }

/*!
=====================================================
                    =   Index   =
=====================================================
*/
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 100px 110px; }
  .jumbotron .jumbotron-text {
    min-width: 505px;
    margin-left: 80px; }
    .jumbotron .jumbotron-text h1 {
      font-family: "ZCOOL XiaoWei";
      font-size: 55px;
      font-weight: 400;
      line-height: 0.9;
      margin-bottom: 15px; }
    .jumbotron .jumbotron-text p {
      max-width: 450px;
      font-size: 16px;
      line-height: 1.35;
      opacity: 0.7;
      margin: 0; }
  .jumbotron .banner-animation #powerOfChoice {
    width: 700px;
    position: relative;
    z-index: 2; }

.we-offer .container .service-card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 70px 0; }
  .we-offer .container .service-card-wrapper .service-card {
    width: 350px;
    padding: 50px 35px 30px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s;
    background-repeat: no-repeat; }
    .we-offer .container .service-card-wrapper .service-card:hover {
      box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.06); }
    .we-offer .container .service-card-wrapper .service-card:first-child {
      background-position: -40px -15px;
      background-image: url(../imgs/bubbles/card/card-red.svg); }
    .we-offer .container .service-card-wrapper .service-card:nth-child(2) {
      margin: 0 35px;
      background-position: 80% 100%;
      background-image: url(../imgs/bubbles/card/card-green.svg); }
    .we-offer .container .service-card-wrapper .service-card:last-child {
      background-position: 100% 50%;
      background-image: url(../imgs/bubbles/card/card-blue.svg); }
    .we-offer .container .service-card-wrapper .service-card h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 15px; }
    .we-offer .container .service-card-wrapper .service-card p {
      color: #919aa3;
      line-height: 1.5;
      margin-bottom: 0; }

.animated-icons {
  margin-top: 100px;
  margin-bottom: 120px; }
  .animated-icons .icon-container {
    display: flex;
    justify-content: space-between;
    gap: 50px; }
  .animated-icons .icon-box {
    display: inline-block;
    text-align: center; }
    .animated-icons .icon-box div {
      margin-bottom: 30px; }
      .animated-icons .icon-box div img {
        width: 260px;
        height: 165px; }
    .animated-icons .icon-box h2 {
      font-size: 20px;
      font-weight: 600; }
    .animated-icons .icon-box p {
      opacity: 0.7;
      font-weight: normal;
      margin-bottom: 0;
      max-width: 330px; }

.our-specialty {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 40px; }
  .our-specialty .swiper-wrapper {
    margin: 25px 0 30px; }
    .our-specialty .swiper-wrapper .swiper-slide {
      width: 100%;
      padding: 0 30px; }
      .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.06); }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-slide-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 1;
          width: 100%;
          background-color: #fff;
          color: #212B36;
          border-radius: 0 0 16px 16px;
          padding: 25px 25px 30px; }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-slide-image {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 0;
          padding-bottom: 66%;
          border-radius: 16px 16px 0 0;
          overflow: hidden; }
          .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-slide-image div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-image-original {
          opacity: 1;
          z-index: 1; }
        .our-specialty .swiper-wrapper .swiper-slide .swiper-slide-card .swiper-image-hover {
          transition: opacity 0.3s ease;
          display: none;
          opacity: 0;
          z-index: 2; }

.join-us {
  position: relative;
  top: 0;
  min-height: 670px;
  overflow: hidden; }
  .join-us .background-animation {
    width: 100%;
    height: 100%; }
    .join-us .background-animation svg {
      display: block; }
  .join-us .join-us-content {
    width: 100%;
    max-width: 720px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.departments {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 55px 0px;
  z-index: 6; }

.dep-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 25px; }
  .dep-list li {
    display: inline-block;
    margin-bottom: 35px; }
    .dep-list li:nth-child(3n + 2) {
      margin: 0 30px 35px; }

.tiny-card {
  padding: 35px 30px;
  text-align: center;
  display: inline-block;
  width: 215px;
  height: 96.9px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background: linear-gradient(90deg, #004ca0 0%, #086caa 25%, #007ecc 50%, #fff 75%, #fff 100%);
  background-color: #ffffff;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: 0.4s ease-in-out;
  will-change: transform; }
  .tiny-card .text {
    position: relative; }
    .tiny-card .text::before {
      opacity: 0;
      content: '';
      position: absolute;
      right: -20px;
      top: 5px;
      display: block;
      width: 12px;
      height: 12px;
      transition: 0.4s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../img/layers/arrow-right.svg); }
  .tiny-card:hover {
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);
    background-position: 0% 0%;
    transform: scale(1.04); }
    .tiny-card:hover .text::before {
      opacity: 1; }

.our-works {
  padding: 55px 0 35px;
  background-color: #f5f5f5; }

.partner-with-us {
  position: relative;
  padding: 105px 0; }

.form {
  padding: 0 100px;
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 45px; }
  .form .form-control {
    width: 100%;
    color: #818181;
    border-radius: 25px;
    border: 1px solid #5c5c5c;
    font-weight: 600;
    padding: 12px 0 12px 30px; }
  .form label {
    font-weight: 600;
    color: #5c5c5c;
    display: block;
    margin-bottom: 15px; }
  .form .textarea-box,
  .form .btn-block {
    grid-column-start: 1;
    grid-column-end: 3; }
  .form .textarea-box {
    grid-row-start: 3;
    grid-row-end: 5; }
  .form textarea {
    height: 176px;
    resize: none; }
  .form .btn-block {
    text-align: center; }

#form-messages {
  display: none;
  padding: 0 100px;
  text-align: center;
  font-size: 20px; }
  #form-messages strong {
    display: block;
    margin: 2.5em 0 1em; }
  #form-messages p {
    color: #5c5c5c; }
  #form-messages a {
    font-size: 16px;
    margin-top: 30px; }

.info-text {
  margin-top: 190px;
  margin-bottom: 100px; }
  .info-text .info-title {
    font-family: "ZCOOL XiaoWei";
    font-size: 55px;
    font-weight: 400;
    line-height: 0.91;
    text-align: center;
    margin-bottom: 55px;
    padding: 0px 160px; }
  .info-text .text-blocks {
    display: flex;
    gap: 20px;
    margin-bottom: 55px; }
    .info-text .text-blocks .text-parts {
      width: 48.5%; }

.mission-statement {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase; }
  .mission-statement h2 {
    font-size: 16px;
    font-weight: normal; }
  .mission-statement h1 {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.29;
    color: #48b5c2;
    z-index: 10; }
  .mission-statement .quote {
    position: absolute;
    top: -40px;
    width: 170px;
    height: 170px;
    background-size: cover; }
  .mission-statement .quote-left {
    left: 0;
    background-image: url("../imgs/layers/quote-left.svg"); }
  .mission-statement .quote-right {
    right: 0;
    background-image: url("../imgs/layers/quote-right.svg"); }

.team-spirit {
  padding: 55px 0 75px;
  background-color: #f5f5f5; }

.marvelous-team {
  position: relative;
  padding: 75px 0 145px; }
  .marvelous-team .section-title {
    margin-bottom: 45px; }
  .marvelous-team article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px; }
    .marvelous-team article h1 {
      width: 50%;
      opacity: 0.2;
      font-size: 50px;
      font-weight: 800;
      line-height: 0.4;
      color: #919aa3;
      text-transform: uppercase; }
    .marvelous-team article p {
      width: 50%;
      font-size: 16px;
      line-height: 1.33; }
    .marvelous-team article:nth-child(even) h1 {
      text-align: right; }
    .marvelous-team article:nth-child(odd) {
      flex-direction: row-reverse; }
      .marvelous-team article:nth-child(odd) p {
        text-align: right; }

.section-btn {
  margin-top: 70px; }

.careers-jumbotron {
  position: relative;
  top: 0;
  overflow: hidden; }
  .careers-jumbotron .jumbotron-content {
    max-width: 720px;
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 540px; }
    .careers-jumbotron .jumbotron-content h1 {
      font-family: "ZCOOL XiaoWei";
      font-size: 55px;
      font-weight: normal;
      line-height: 0.91;
      margin-bottom: 15px;
      padding: 0 30px; }
    .careers-jumbotron .jumbotron-content p {
      font-size: 18px;
      color: #3F3E3E;
      line-height: 1.35;
      margin-bottom: 30px; }
  .careers-jumbotron .background-animation {
    width: 100%;
    height: 100%; }
    .careers-jumbotron .background-animation svg {
      display: block; }

.arrow-down {
  font-size: 20px;
  color: #000;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 10; }

.our-options {
  margin: 70px 0px; }
  .our-options .select-box-wrapper {
    display: flex;
    margin: 70px 0 45px; }
    .our-options .select-box-wrapper .select-box {
      position: relative; }
      .our-options .select-box-wrapper .select-box:first-child {
        margin-right: 30px; }
      .our-options .select-box-wrapper .select-box:last-child {
        margin-left: auto; }
      .our-options .select-box-wrapper .select-box select {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        padding: 11px 105px 11px 24px;
        border-radius: 25px;
        border: 2px solid #000;
        background-color: #ffffff;
        font-weight: 600; }
      .our-options .select-box-wrapper .select-box::after {
        content: '';
        display: block;
        position: absolute;
        right: 25px;
        top: 50%;
        height: 8px;
        width: 10px;
        transform: translateY(-50%);
        border-top: 8px solid #000;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent; }

.vacancies .job {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 44px 50px 44px 26px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #f5f5f5;
  cursor: pointer; }
  .vacancies .job h2,
  .vacancies .job address,
  .vacancies .job a {
    font-size: 18px;
    margin: 0; }
  .vacancies .job h2 {
    font-weight: 600; }
    .vacancies .job h2 a {
      cursor: none;
      color: #000;
      pointer-events: none; }
  .vacancies .job address {
    font-style: normal;
    text-align: left; }
  .vacancies .job > a {
    font-weight: 600;
    color: #0057d8;
    text-align: right; }

.benefits {
  margin-bottom: 150px; }
  .benefits .benefit-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px; }
    .benefits .benefit-icons figure {
      text-align: center;
      width: 250px; }
      .benefits .benefit-icons figure img {
        transition: 0.3s ease-in-out; }
        .benefits .benefit-icons figure img:hover {
          transform: scale(1.1); }
      .benefits .benefit-icons figure figcaption {
        height: 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0;
        padding: 0 3px; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.4s ease; }
  .preloader svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    height: 120px;
    width: 120px;
    overflow: visible;
    opacity: 1;
    transform: scale(1);
    will-change: opacity, transform;
    transition: opacity 0.4s ease 0.2s, transform 0.6s ease; }

.loaded .preloader {
  opacity: 0;
  transition: opacity 0.4s ease 0.6s; }
  .loaded .preloader svg {
    transform: scale(1.4);
    opacity: 0; }

.preloader-circle {
  transform-origin: 60px 60px;
  fill: #000;
  animation: opacity 1.2s linear infinite;
  fill-opacity: 1;
  animation-name: opacity, colors; }
  .preloader-circle:nth-child(12n + 1) {
    animation-delay: -0.1s;
    transform: rotate(-30deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 2) {
    animation-delay: -0.2s;
    transform: rotate(-60deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 3) {
    animation-delay: -0.3s;
    transform: rotate(-90deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 4) {
    animation-delay: -0.4s;
    transform: rotate(-120deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 5) {
    animation-delay: -0.5s;
    transform: rotate(-150deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 6) {
    animation-delay: -0.6s;
    transform: rotate(-180deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 7) {
    animation-delay: -0.7s;
    transform: rotate(-210deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 8) {
    animation-delay: -0.8s;
    transform: rotate(-240deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 9) {
    animation-delay: -0.9s;
    transform: rotate(-270deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 10) {
    animation-delay: -1s;
    transform: rotate(-300deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 11) {
    animation-delay: -1.1s;
    transform: rotate(-330deg) translate(5px, 5px) scale(0.9); }
  .preloader-circle:nth-child(12n + 12) {
    animation-delay: -1.2s;
    transform: rotate(-360deg) translate(5px, 5px) scale(0.9); }

@keyframes opacity {
  0% {
    fill-opacity: 1; }
  83% {
    fill-opacity: 0; } }
@keyframes colors {
  0% {
    fill: #004ca0; }
  50%,
  60% {
    fill: #ff4e22; }
  40%,
  70% {
    fill: #ffcb24; }
  30%,
  80% {
    fill: #a6e233; }
  20%,
  90% {
    fill: #00cccc; }
  10%,
  100% {
    fill: #007ecc; } }
.container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

/*# sourceMappingURL=style.css.map */
