// Fonts
$default-font: 'Montserrat';
$second-font: 'ZCOOL XiaoWei';
$ftz-mini: 10px;
$ftz-extra-small: 12px;
$ftz-small: 14px;
$ftz-normal: 16px;
$ftz-large: 18px;
$ftz-extra-large: 20px;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
//
// Colors
$white: #fff;
$black: #000;
$gray: #919aa3;
$md-gray: #3F3E3E;
$bc-gray: #f5f5f5;
$orange: #f3752c;
$dark-gray: #212B36;
//
// Utilities
$border-radius-15: 15px;
$border-radius-25: 25px;
$transition: all 0.3s ease-in-out;
$transparent: rgba(0, 0, 0, 0.01);